/* Стили для первого экрана */
h1 {
    text-align: center;
}

form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 20px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    width: 110%;
    /*width: 150px;*/

}

/* Стили для второго экрана */
select {
    width: 110%;
    height: 150px;
}

/* Стили для третьего экрана */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    border: 1px solid #ccc;
}

h3 {
    text-align: right;
}